@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrosel.css");
@import url("styles/topicos.css");
@import url("styles/contatos.css");
@import url("styles/footer.css");

:root {
    --cor-de-fundo: #d3e9b9;
    --branco: #ffffff;
    --verde: #0b8a5f;
    --verde-escuro: #035a3d;
    --marrom-escuro: #412815;
    /* Gradiente marrom usado no hover/ativo do menu */
    --marrom-degrade: linear-gradient(90deg, #7a4a2b 0%, #c68642 100%);
    --laranja: #db9200;
    --preto: #000000;
    --titulos-rodape :#858585;
    --subtitulos-rodape: #474646;
    --fonte-poppins: "Poppins", sans-serif;
    --fonte-josefin: 'Josefin Sans', sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-poppins);
    font-size: 16px;
    font-weight: 400;
}

/*   --cor-de-fundo: #EBECEE;
    --branco: #ffffff;
    --laranja: #EB9B00;  
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --azul-escuro: #002F52;
    --fonte-poppins: "Poppins", sans-serif; */