.carrosel__titulo {
    color: var(--verde);
    background-color: var(--branco);
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    padding: 1.3em 0 0.5em 0;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
    cursor: pointer;
}

.card {
    background-color: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    margin-bottom: 1.5em;
    padding: 1em;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.descricao__titulo {
    font-weight: 700;
    color: var(--marrom-escuro);
    font-size: clamp(14px, 2.5vw, 22px);
}

.descricao__titulo-livro {
    font-size: clamp(16px, 3vw, 26px);
    font-weight: 700;
    margin: 0.5em 0;
    color: var(--laranja);
}

.descricao__paragrafo {
    font-size: clamp(14px, 2vw, 22px);
    color: var(--preto);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.descricao__imagem {
    width: 50%;
    height: auto;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
}

.botoes__item {
    margin: 0.5em;
}

.botoes__ancora {
    text-decoration: none;
    font-weight: 700;
    color: var(--branco);
    background-color: var(--verde);
    padding: 1em 2.2em;
    display: inline-block;
    border-radius: 4px;
}

@media screen and (min-width: 650px) {
    .swiper-slide {
        padding: 1rem;
        /* espaço interno ao redor da imagem */
        box-sizing: border-box;
    }

    .swiper-slide img {
        border-radius: 8px;
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.20);
    }

    .card {
        width: 70%;
        margin: 3em auto;
        padding: 2em;
    }

    .descricao {
        margin-right: 1em;
    }
}

@media screen and (min-width: 1024px) {

    .carrosel__titulo {
        font-size: 26px;
        padding: 2.2em 0 0.6em 0;
    }

    .swiper-pagination {
        margin: 1.7em 0 4em 0;
    }

    .swiper {
        position: relative;
        width: 75%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 20;
        background: var(--marrom-degrade);
        color: var(--branco);
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: bold;

        width: 65px;
        height: 65px;
    }

    .swiper-button-prev {
        left: -40px;
        /* encosta na borda */
    }

    .swiper-button-next {
        right: -40px;
        /* encosta na borda */
    }

    .swiper-slide {
        padding: 1rem;
        /* espaço interno ao redor da imagem */
        box-sizing: border-box;
    }

    .swiper-slide img {
        border-radius: 10px;
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.20);
    }

    .card {
        width: 60%;
        margin: 2em auto;
        padding: 1.6em;
    }

    .descricao {
        padding-right: 2em;
    }

    .descricao__titulo-livro {
        margin: 1em 0 0.5em 0;
    }

    .descricao__imagem {
        width: 40%;
        height: auto;
    }

    .botoes__item {
        margin: 0.5em 1em;
    }

    .botoes__ancora:hover {
        background-color: var(--laranja);
        transition: background-color 0.3s ease;
    }
}

@media screen and (min-width: 1728px) {
    .carrosel__titulo {
        font-size: 32px;
        padding: 1em 0 0.5em 0;
    }

    .carrosel__container {
        display: flex;
        margin: 0 16vw 3em 16vw;
        align-items: center;
        gap: 2em;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

    .swiper {
        width: 70%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 50px;
        height: 50px;
    }

    .swiper-slide {
        padding: 0;
    }

    .card {
        margin: 3em 0 1em auto;
    }

    .descricao__titulo-livro {
        margin: 0.5em 0 0.5em 0;
    }

}