.contatos {
    background-color: var(--branco);
    padding: 1.3em 1em;
}

.contatos__titulo {
    background: var(--marrom-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contatos__titulo {
    font-size: 18px;
    font-weight: 500;
}

.contatos__paragrafo {
    color: var(--preto);
    font-weight: 300;
    margin: 1em 0;
}

.contatos__gmail {
    padding: 1em;
    border: solid 1px var(--verde);
    border-radius: 24px;
    width: 90%;
}

.contatos__gmail::placeholder {
    color: var(--verde);
    font-family: var(--fonte-poppins);
    font-size: 16px;
    font-weight: 400;
    background: url(../assets/Email.svg) no-repeat;
    padding-left: 2em;
}

@media screen and (min-width: 1024px) {
    .contatos {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3em 5em;
    }

    .contatos__descricao {
        margin-right: 4em;
        width: 30%;
    }

    .contatos__titulo {
        font-size: 24px;
    }

    .contatos__paragrafo {
        font-size: 18px;
        margin: 1.5em 0;
    }

    .contatos__gmail {
        width: 35%;
    }
}

@media screen and (min-width: 1728px) {
    .contatos {
        padding: 3.5em 20vw;
    }

    .contatos__titulo {
        font-size: 26px;
    }

    .contatos__paragrafo {
        font-size: 20px;
        margin: 1em 0;
    }

    .contatos__gmail {
        width: 30%;
    }

}